.cancellation-policy,
.please-refer-to2 {
  width: 1680px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.cancellation-policy {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.please-refer-to2 {
  font-size: 16px;
  line-height: 22px;
}
.cancellation-intro {
  align-self: stretch;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #1c1c1c;
  font-family: Inter;
}
.cancellation-period1,
.cancellation-period2 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.cancellation-period2 {
  padding-left: 43px;
}
.cancellation-period1 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.time-period,
.you-may-cancel {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.you-may-cancel {
  color: #4b2f2f;
}
.time-period-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.beyond-time-period,
.cancellations-made-after {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.cancellations-made-after {
  color: #4b2f2f;
}
.beyond-time-period-parent {
  align-self: stretch;
  gap: 16px;
}
.beyond-time-period-parent,
.cancellation-period,
.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  gap: 16px;
  font-size: 16px;
}
.cancellation-period {
  width: 1680px;
  gap: 32px;
  max-width: 100%;
}
.refund-eligibility1,
.refund-eligibility2 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.refund-eligibility2 {
  padding-left: 43px;
}
.refund-eligibility1 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.cancellations-made-after1,
.if-cancellation-is,
.refunds-will-be {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.refund-details,
.refund-eligibility {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.refund-details {
  align-self: stretch;
  gap: 16px;
  font-size: 16px;
}
.refund-eligibility {
  width: 1680px;
  gap: 32px;
  max-width: 100%;
}
.cancellation-process,
.cancellation-process1 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.cancellation-process1 {
  padding-left: 43px;
}
.cancellation-process {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.to-cancel-your {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #4b2f2f;
}
.cancellation-process-steps {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.refund-processing-time {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.refund-processing-time-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.refunds-for-eligible {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #4b2f2f;
}
.cancellation-process-steps1 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.exceptions-and-special-circums {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.exceptions-and-special-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.certain-services-or {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #4b2f2f;
}
.cancellation-process-steps2 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.changes-to-bookings {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.changes-to-bookings-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.you-have-the1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  color: #4b2f2f;
}
.cancellation-process-steps3 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.policy-updates,
.policy-updates1 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.policy-updates1 {
  padding-left: 43px;
}
.policy-updates {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.this-cancellation-and {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #4b2f2f;
}
.cancellation-process-steps4 {
  width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 100%;
}
.contact-us3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 43px;
}
.contact-us2,
.if-you-have1 {
  align-self: stretch;
  position: relative;
}
.contact-us2 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.if-you-have1 {
  font-size: 16px;
  line-height: 22px;
  color: #4b2f2f;
}
.cancellation-process-steps5 {
  width: 1680px;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
}
.cancellation-content,
.cancellation-process-steps5,
.cancellationpolicy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cancellation-content {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #262626;
  font-family: Inter;
}
.cancellationpolicy {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1425px) {
  .cancellation-content {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .cancellation-policy {
    font-size: 38px;
    line-height: 42px;
  }
  .cancellation-period1 {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-period {
    gap: 16px;
  }
  .refund-eligibility1 {
    font-size: 26px;
    line-height: 31px;
  }
  .refund-eligibility {
    gap: 16px;
  }
  .cancellation-process {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-process-steps {
    gap: 16px;
  }
  .refund-processing-time-container {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-process-steps1 {
    gap: 16px;
  }
  .exceptions-and-special-container {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-process-steps2 {
    gap: 16px;
  }
  .changes-to-bookings-container {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-process-steps3 {
    gap: 16px;
  }
  .policy-updates {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-process-steps4 {
    gap: 16px;
  }
  .contact-us2 {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-process-steps5 {
    gap: 16px;
  }
  .cancellation-content {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .cancellation-policy {
    font-size: 29px;
    line-height: 32px;
  }
  .cancellation-period1,
  .cancellation-process,
  .changes-to-bookings-container,
  .contact-us2,
  .exceptions-and-special-container,
  .policy-updates,
  .refund-eligibility1,
  .refund-processing-time-container {
    font-size: 19px;
    line-height: 23px;
  }
  .cancellation-content {
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
