.background-icon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 9999px;
  z-index: 1;
}
.search-brands {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 122.3px;
}
.search-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
}
.input,
.section {
  border-radius: 24px;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.input {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  padding: 6px;
  box-sizing: border-box;
  gap: 18px;
}
.section {
  width: 1380px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
.content,
.homepage,
.section {
  display: flex;
  align-items: flex-start;
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px 32px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 15.3px;
  color: #9ca3af;
  font-family: Inter;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .input {
    flex-wrap: wrap;
  }
}
