.image-5-icon {
  position: absolute;
  top: calc(50% - 196.5px);
  left: calc(50% - 313px);
  border-radius: 20px;
  width: 626px;
  height: 392px;
  object-fit: cover;
}
.background {
  height: 813px;
  flex: 1;
  position: relative;
  border-radius: 0 16px 16px 0;
  background-color: #f6f7f9;
  min-width: 624px;
  max-width: 100%;
}
.background1 {
  height: 8px;
  width: 56px;
  position: absolute;
  margin: 0 !important;
  top: 69px;
  left: 0;
  border-radius: 4px;
  background-color: #262626;
}
.heading-1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.vector-icon1 {
  width: 15.6px;
  height: 9.9px;
  position: relative;
}
.feature-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6px;
}
.the-perfect-gift {
  position: relative;
  line-height: 22px;
}
.feature-items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
}
.vector-icon2 {
  width: 15.6px;
  height: 9.9px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6px;
}
.over-130-different {
  position: relative;
  line-height: 22px;
}
.feature-items1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
  max-width: 100%;
}
.vector-icon3 {
  width: 15.6px;
  height: 9.9px;
  position: relative;
}
.vector-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6px;
}
.the-perfect-solution {
  position: relative;
  line-height: 22px;
}
.feature-items2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
  max-width: 100%;
}
.vector-icon4 {
  width: 15.6px;
  height: 9.9px;
  position: relative;
}
.vector-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6px;
}
.available-as-a {
  position: relative;
  line-height: 22px;
}
.feature-items3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
  max-width: 100%;
}
.vector-icon5 {
  width: 15.6px;
  height: 9.9px;
  position: relative;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6px;
}
.available-to-order {
  position: relative;
  line-height: 22px;
}
.feature-items4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
}
.feature-list,
.gift-card-features {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.feature-list {
  flex-direction: column;
  gap: 10px;
}
.gift-card-features {
  flex-direction: row;
  padding: 0 0 6px;
  box-sizing: border-box;
}
.choose-your-value {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.label {
  height: 68px;
  width: 139.8px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}
.div {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.label1 {
  width: 139.8px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 155.8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #c5c4c8;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 40px;
}
.div1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 62px;
  white-space: nowrap;
}
.label2,
.label3 {
  width: 139.8px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}
.label2 {
  left: 311.7px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #c5c4c8;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 35px;
}
.label3 {
  height: 68px;
  left: 467.5px;
}
.other {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 43px;
}
.label4,
.value-options,
.value-selection {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.label4 {
  width: 608px;
  margin: 0 !important;
  position: absolute;
  top: 92px;
  left: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #c5c4c8;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.value-options,
.value-selection {
  justify-content: flex-start;
}
.value-options {
  align-self: stretch;
  height: 160px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 24px 14.9px;
  font-size: 16px;
}
.value-selection {
  width: 608px;
  flex-direction: column;
  padding: 0 0 6px;
  box-sizing: border-box;
  gap: 16px;
  font-size: 17.2px;
}
.by-mail,
.delivery-method {
  position: relative;
  line-height: 24px;
}
.delivery-method {
  font-weight: 600;
}
.by-mail {
  display: inline-block;
  min-width: 62.4px;
}
.delivery-types {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 54px 0 53px;
}
.sent-via-royal {
  position: relative;
  line-height: 22px;
  color: #9f9da4;
}
.label5 {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #00246b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 62px;
}
.digital {
  flex: 1;
  position: relative;
  line-height: 24px;
  flex-shrink: 0;
}
.digital-wrapper {
  width: 158.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 54px 0 51px;
  box-sizing: border-box;
}
.free-and-sustainable {
  position: relative;
  line-height: 22px;
  color: #9f9da4;
}
.delivery-options,
.delivery-selection,
.label6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.label6 {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #c5c4c8;
  flex-direction: column;
  padding: 19px 66px 19px 69px;
}
.delivery-options,
.delivery-selection {
  flex-direction: row;
  gap: 12px;
  font-size: 16px;
}
.delivery-selection {
  flex-direction: column;
  padding: 0 0 6px;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
  font-size: 17.3px;
}
.what-kind-of {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.choose-from-1 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
  color: #9f9da4;
}
.packaging-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
}
.surprise-paars-gc-uk-envelop-1-icon {
  height: 109px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}
.background2 {
  width: 302px;
  border-radius: 5px 0 0 5px;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24.5px 69px;
  box-sizing: border-box;
  min-width: 302px;
}
.free,
.surprise-gift-envelope {
  position: relative;
  line-height: 22px;
}
.free {
  color: #9f9da4;
  display: inline-block;
  min-width: 34px;
}
.change-button-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.button {
  width: 100.5px;
  flex: 1;
}
.change-button-container,
.change-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.change-button-container {
  flex: 1;
  justify-content: flex-start;
  gap: 16px;
}
.change-option {
  height: 141px;
  justify-content: flex-end;
  padding: 0 0 16px;
  box-sizing: border-box;
  min-width: 169px;
}
.overlaybordershadow,
.packaging-selection {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
}
.overlaybordershadow {
  width: 608px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #262626;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 2px;
  font-size: 16px;
}
.packaging-selection {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 6px;
  font-size: 18px;
}
.costs,
.div2 {
  position: relative;
  line-height: 24px;
  font-weight: 900;
  display: inline-block;
  min-width: 49.1px;
}
.div2 {
  font-size: 15.8px;
  min-width: 60px;
  white-space: nowrap;
}
.cost {
  width: 608.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  font-size: 16.5px;
}
.svg-icon {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 8px);
  width: 16px;
  height: 4px;
}
.button1 {
  height: 64px;
  width: 48px;
  position: relative;
  border-radius: 8px 0 0 8px;
  background-color: #fff;
  border: 1px solid #c5c4c8;
  box-sizing: border-box;
}
.input-value {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 9px;
}
.input1 {
  background-color: #fff;
  border-top: 1px solid #c5c4c8;
  border-bottom: 1px solid #c5c4c8;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19px 33px 20px 35px;
  z-index: 1;
}
.button-icon {
  align-self: stretch;
  width: 48px;
  position: relative;
  border-radius: 0 8px 8px 0;
  max-height: 100%;
  min-height: 64px;
  z-index: 2;
}
.basket-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  height: 64px;
  flex: 1;
  min-width: 266px;
  max-width: 100%;
}
.actions {
  width: 608px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 6px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
}
.promotion-block-pounds007050b-icon {
  height: 57px;
  width: 96px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.voucher-worth-15,
.with-every-physical {
  margin: 0;
}
.with-every-physical-container1 {
  width: 100%;
}
.with-every-physical-container {
  width: 418.5px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.background3,
.promotion {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.background3 {
  flex: 1;
  border-radius: 8px;
  background-color: #f5f5f6;
  padding: 23.5px 24px 24px;
  gap: 17px;
}
.promotion {
  width: 608px;
  padding: 0 0 6px;
}
.card-add-multiple,
.card-for-an,
.finding-the-right,
.from-our-extensive,
.give-them-is,
.needs-to-redeem {
  margin: 0;
}
.finding-the-right-container {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.gift-finding {
  width: 604.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 12px;
  box-sizing: border-box;
  max-width: 100%;
}
.businesss-logo-and,
.cards-from-the,
.the-all-in-1-choice {
  margin: 0;
}
.the-all-in-1-choice-container {
  height: 110px;
  flex: 1;
  position: relative;
  letter-spacing: -0.02px;
  line-height: 135%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.corporate-gifting {
  width: 603px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 12px;
  box-sizing: border-box;
  max-width: 100%;
}
.the-recipient-redeems,
.this-card-is {
  margin: 0;
}
.this-card-is-container1 {
  width: 100%;
}
.this-card-is-container {
  width: 585.6px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.product-description {
  align-self: stretch;
  flex-direction: column;
  gap: 32px;
  font-size: 16px;
}
.content1,
.product-description,
.product-details,
.product-information {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.product-information {
  flex: 1;
  flex-direction: column;
  gap: 62px;
}
.content1,
.product-details {
  flex-direction: row;
}
.product-details {
  width: 660px;
  position: relative;
  min-width: 660px;
}
.content1 {
  align-self: stretch;
  padding: 80px 120px;
  box-sizing: border-box;
  gap: 60px;
  text-align: left;
  font-size: 48px;
  color: #0f0a1b;
  font-family: Inter;
}
.want-to-know {
  position: relative;
  line-height: 16px;
}
.about-us,
.board-of-directors,
.careers,
.contact-us,
.faqs,
.gift-tracker,
.retailer-inquiries,
.scam-warning {
  margin: 0;
}
.item-link-container {
  position: relative;
  text-decoration: underline;
  line-height: 30px;
}
.list {
  width: 124.4px;
  flex-direction: row;
  font-size: 15px;
  color: #4b4b4b;
}
.about,
.about-details,
.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-details {
  flex-direction: column;
  gap: 19px;
}
.about {
  flex-direction: row;
  padding: 0 16px;
}
.vividvouchers-inc-all {
  position: relative;
  font-size: 11.1px;
  line-height: 20px;
  color: #4b4b4b;
  text-align: center;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  font-size: 17.3px;
}
.the-boring-stuff {
  position: relative;
  line-height: 16px;
}
.privacy-policy,
.promotion-terms,
.terms-of-sale,
.terms-of-service {
  margin: 0;
}
.item-link-container1 {
  position: relative;
  text-decoration: underline;
  line-height: 30px;
}
.legal,
.legal-details,
.list1 {
  display: flex;
  justify-content: flex-start;
}
.list1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 0 0.5px;
  font-size: 14.3px;
  color: #4b4b4b;
}
.legal,
.legal-details {
  flex-direction: column;
  align-items: flex-start;
}
.legal-details {
  align-self: stretch;
  gap: 19px;
}
.legal {
  width: 276px;
  padding: 0 28px 0 0;
  box-sizing: border-box;
}
.hang-with-us {
  position: relative;
  line-height: 16px;
  display: inline-block;
  min-width: 112px;
}
.background-icon1,
.blog {
  position: relative;
  flex-shrink: 0;
}
.background-icon1 {
  margin-top: -1px;
  height: 24px;
  width: 24px;
  border-radius: 1600px;
}
.blog {
  margin-top: -4.5px;
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  min-width: 31px;
}
.item-link {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.background-icon2,
.facebook {
  position: relative;
  flex-shrink: 0;
}
.background-icon2 {
  margin-top: -1px;
  height: 24px;
  width: 24px;
  border-radius: 1600px;
}
.facebook {
  margin-top: -4.5px;
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  min-width: 67px;
}
.item-link1 {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: 14.2px;
}
.background-icon3,
.instagram {
  position: relative;
  flex-shrink: 0;
}
.background-icon3 {
  margin-top: -1px;
  height: 24px;
  width: 24px;
  border-radius: 1600px;
}
.instagram {
  margin-top: -4.5px;
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  min-width: 70.3px;
}
.item-link2 {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: 14.8px;
}
.background-icon4,
.linkedin {
  position: relative;
  flex-shrink: 0;
}
.background-icon4 {
  margin-top: -1px;
  height: 24px;
  width: 24px;
  border-radius: 1600px;
}
.linkedin {
  margin-top: -4.5px;
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  min-width: 57px;
}
.item-link3 {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: 14.3px;
}
.background-icon5,
.twitter {
  position: relative;
  flex-shrink: 0;
}
.background-icon5 {
  margin-top: -1px;
  height: 24px;
  width: 24px;
  border-radius: 1600px;
}
.twitter {
  margin-top: -4.5px;
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  min-width: 46.3px;
}
.item-link4 {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: 13.9px;
}
.background-icon6,
.youtube {
  position: relative;
  flex-shrink: 0;
}
.background-icon6 {
  margin-top: -1px;
  height: 24px;
  width: 24px;
  border-radius: 1600px;
}
.youtube {
  margin-top: -4.5px;
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  min-width: 57px;
}
.item-link5 {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: 13.8px;
}
.background-icon7,
.tiktok {
  position: relative;
  flex-shrink: 0;
}
.background-icon7 {
  margin-top: -1px;
  height: 24px;
  width: 24px;
  border-radius: 1600px;
}
.tiktok {
  margin-top: -4.5px;
  text-decoration: underline;
  line-height: 30px;
  display: inline-block;
  min-width: 41.1px;
}
.item-link6 {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  font-size: 13.2px;
}
.list2 {
  align-self: stretch;
  padding: 4px 0 5px;
  gap: 9px;
  font-size: 14.6px;
  color: #4b4b4b;
}
.list2,
.social,
.social-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-details {
  width: 248px;
  gap: 19px;
}
.social {
  width: 304px;
  font-size: 17.2px;
}
.subscribe-to-our {
  position: relative;
  line-height: 16px;
}
.container1 {
  position: absolute;
  width: calc(100% - 32px);
  top: 11.5px;
  right: 16px;
  left: 16px;
  height: 24px;
  overflow: hidden;
  display: none;
}
.input2 {
  height: 50px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
}
.fieldset {
  border: 0;
  background-color: transparent;
  height: 55px;
  flex: 1;
  max-width: 100%;
  z-index: 1;
}
.input-container {
  width: 336px;
  margin: 0 !important;
  position: absolute;
  top: -5px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.email-address {
  position: relative;
  line-height: 17px;
  display: inline-block;
  min-width: 109px;
}
.email-label,
.label7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.label7 {
  background-color: #fff;
  flex-direction: row;
  padding: 3.5px 3px 4.5px 4px;
  white-space: nowrap;
  z-index: 2;
}
.email-label {
  flex-direction: column;
  padding: 12px 0 0;
}
.button3 {
  height: 50px;
  width: 150px;
}
.form {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 25px 16px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: 20px;
}
.youre-currently-shopping {
  position: relative;
  line-height: 22px;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.americanflagsvg-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.change {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 57px;
}
.location1,
.newsletter,
.newsletter-form,
.shopping-location {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.location1 {
  flex-direction: column;
  padding: 1px 0 0;
  font-size: 13.3px;
  color: #276ef1;
}
.newsletter,
.newsletter-form,
.shopping-location {
  max-width: 100%;
}
.shopping-location {
  flex-direction: row;
  gap: 9.8px;
  font-size: 13.2px;
}
.newsletter,
.newsletter-form {
  flex-direction: column;
}
.newsletter-form {
  align-self: stretch;
  font-size: 16.2px;
  color: #4b4b4b;
}
.newsletter {
  width: 496px;
  gap: 19px;
}
.container {
  width: 1680px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 14px;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
}
.container,
.footer,
.productpage {
  display: flex;
  align-items: flex-start;
}
.footer {
  align-self: stretch;
  background-color: #f6f7f9;
  flex-direction: row;
  justify-content: center;
  padding: 64px 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 16.9px;
  color: #1e1e1e;
  font-family: Inter;
}
.productpage {
  width: 100%;
  position: relative;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1525px) {
  .product-details {
    flex: 1;
  }
  .container,
  .content1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .background,
  .product-details {
    min-width: 100%;
  }
  .content1 {
    gap: 30px;
    padding: 34px 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .heading-1 {
    font-size: 38px;
    line-height: 42px;
  }
  .delivery-options,
  .packaging-description {
    flex-wrap: wrap;
  }
  .background2,
  .change-option,
  .surprise-paars-gc-uk-envelop-1-icon {
    flex: 1;
  }
  .actions,
  .background3,
  .overlaybordershadow {
    flex-wrap: wrap;
  }
  .background3 {
    justify-content: center;
  }
  .product-description {
    gap: 16px;
  }
  .product-information {
    gap: 31px;
  }
  .content1,
  .footer {
    box-sizing: border-box;
  }
  .content1 {
    gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
@media screen and (max-width: 450px) {
  .heading-1 {
    font-size: 29px;
    line-height: 32px;
  }
  .background2,
  .label5,
  .label6 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .cost {
    flex-wrap: wrap;
  }
  .button2 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .product-information {
    gap: 15px;
  }
  .content1 {
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
  .form,
  .shopping-location {
    flex-wrap: wrap;
  }
}
