.header-wrapper,
.header1 {
  align-self: stretch;
  max-width: 100%;
}
.header1 {
  flex: 1;
}
.header-wrapper {
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 4px;
  box-sizing: border-box;
}
.cart-subtotal,
.checkout-details-values1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 118px;
}
.checkout-details-values1 {
  min-width: 78px;
  white-space: nowrap;
}
.checkout-details-values,
.checkout-details-values-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.checkout-details-values {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.checkout-details-values-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 20px 0 25px;
  box-sizing: border-box;
}
.other-taxes,
.shipping-handling {
  position: relative;
  line-height: 22px;
}
.other-taxes {
  display: inline-block;
  min-width: 107px;
}
.checkout-details-taxes-values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.b1,
.b2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 54px;
  white-space: nowrap;
}
.checkout-details-taxes-values1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.checkout-details-taxes-values-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.checkout-details-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 22px 0 25px;
}
.checkout-details-child,
.checkout-details-inner,
.frame-inner {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-inner {
  flex: 1;
  position: relative;
  border-top: 1px solid #d9d9d9;
}
.checkout-details-child {
  height: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
}
.b3,
.grand-total {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 103px;
}
.b3 {
  width: 78px;
  text-align: right;
  min-width: 78px;
  white-space: nowrap;
}
.grand-total-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.checkout-details,
.checkout-details-inner1 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.checkout-details-inner1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 25px;
}
.checkout-details {
  width: 504px;
  border-radius: 5px;
  background-color: #f6f7f9;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 32px;
  gap: 32px;
  min-width: 504px;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1425px) {
  .checkout-details {
    flex: 1;
  }
}
@media screen and (max-width: 825px) {
  .checkout-details {
    gap: 16px;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .checkout-details-taxes-values-parent,
  .checkout-details-values,
  .grand-total-parent {
    flex-wrap: wrap;
  }
}
