.sign-up,
.sign-up-to {
  align-self: stretch;
  position: relative;
}
.sign-up {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.sign-up-to {
  font-size: 16px;
  line-height: 22px;
  color: #1c1c1c;
}
.sign-up-heading {
  width: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.your-name {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 83px;
}
.name-address-username-labels {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 11px;
  min-width: 159px;
  white-space: nowrap;
}
.email-country-password {
  border: 0;
  background-color: transparent;
  height: 40px;
  flex: 1;
  font-family: Inter;
  font-size: 16px;
  color: #000;
  min-width: 159px;
}
.name-address-username {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.address {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 63px;
}
.address-wrapper {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 11px;
  min-width: 159px;
}
.country {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 61px;
}
.email-country-password-spacer {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.country-parent {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 159px;
  gap: 20px;
}
.name-address-username1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
}
.username {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 78px;
}
.name-address-username-spacer {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.username-parent {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 159px;
  gap: 20px;
}
.password1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 74px;
}
.frame-child {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.password-parent {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 159px;
  gap: 20px;
}
.name-address-username2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 11px;
}
.button6 {
  align-self: stretch;
  height: 54px;
}
.input-fields1 {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.or-sign-up {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 116px;
}
.social-auth-icons,
.social-auth-icons1,
.social-auth-icons2 {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 45px;
}
.social-auth-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.sign-in-wrapper,
.sign-in2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-in2 {
  align-self: stretch;
  border-radius: 24px;
  overflow: hidden;
  align-items: center;
  padding: 92px 36px;
  gap: 36px;
}
.sign-in-wrapper {
  width: 573px;
  align-items: flex-start;
  padding: 100px 0 0;
  box-sizing: border-box;
  min-width: 573px;
  max-width: 100%;
}
.background-shape-icon1 {
  height: 896px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 624px;
}
.content1 {
  width: 1747.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  gap: 194.5px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1425px) {
  .sign-in-wrapper {
    flex: 1;
  }
  .content1 {
    flex-wrap: wrap;
    gap: 97px;
  }
}
@media screen and (max-width: 825px) {
  .sign-up {
    font-size: 38px;
    line-height: 42px;
  }
  .name-address-username,
  .name-address-username1,
  .name-address-username2 {
    flex-wrap: wrap;
  }
  .sign-in2 {
    gap: 18px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  .sign-in-wrapper {
    padding-top: 65px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .background-shape-icon1 {
    min-width: 100%;
  }
  .content1 {
    gap: 49px;
  }
}
@media screen and (max-width: 450px) {
  .sign-up {
    font-size: 29px;
    line-height: 32px;
  }
  .button6 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .content1 {
    gap: 24px;
  }
}
