.mask-group-icon1 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
}
.vivid-vouchers1 {
  text-decoration: none;
  position: relative;
  line-height: 28px;
  font-weight: 600;
  color: inherit;
  white-space: nowrap;
}
.mask-group-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 9px 0 0;
  gap: 12px;
}
.item-link20,
.item-link21,
.item-link22,
.item-link23,
.item-link24,
.item-link25 {
  text-decoration: none;
  position: relative;
  line-height: 16px;
  color: inherit;
  white-space: nowrap;
}
.item-link20 {
  display: inline-block;
  min-width: 107px;
}
.item-link21,
.item-link22,
.item-link23,
.item-link24,
.item-link25 {
  font-size: 15.5px;
}
.item-link22,
.item-link23,
.item-link24,
.item-link25 {
  font-size: 15px;
}
.item-link23,
.item-link24,
.item-link25 {
  font-size: 15.4px;
  display: inline-block;
  min-width: 110px;
}
.item-link24,
.item-link25 {
  font-size: 14.8px;
  min-width: 65.2px;
}
.item-link25 {
  font-size: 14.9px;
  min-width: 84px;
}
.nav-list1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 31px 24px 32px;
  box-sizing: border-box;
  gap: 31.9px;
  max-width: 100%;
  font-size: 15.1px;
  color: #313e49;
}
.button7 {
  height: 42px;
  flex: 1;
}
.button8 {
  align-self: stretch;
  width: 93px;
}
.button-parent,
.heade1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-parent {
  height: 42px;
  width: 229px;
  justify-content: flex-end;
  gap: 32px;
}
.heade1 {
  align-self: stretch;
  background-color: #fff;
  justify-content: space-between;
  padding: 18px 120px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 21.3px;
  color: #00246b;
  font-family: Inter;
}
.your-cart {
  margin: 0;
  width: 678.1px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.your-cart-wrapper {
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.view-or-edit {
  width: 849.4px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frame-container,
.frame-wrapper,
.heade-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  flex: 1;
  background-color: #f6f7f9;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 81.5px 20px;
  box-sizing: border-box;
  gap: 16px;
}
.frame-wrapper,
.heade-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.heade-parent {
  flex-direction: column;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1425px) {
  .nav-list1 {
    display: none;
  }
  .heade1 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .nav-list1 {
    gap: 16px;
  }
  .heade1 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .your-cart {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 450px) {
  .your-cart {
    font-size: 29px;
    line-height: 32px;
  }
}
