.find-the-widest,
.gift-cards-at {
  margin: 0;
}
.find-the-widest-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 600;
  font-family: inherit;
}
.action-links {
  height: 46px;
  width: 183px;
}
.action-links1 {
  height: 46px;
  flex: 1;
  min-width: 129px;
}
.actions1,
.description {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.actions1 {
  width: 430px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 49px;
}
.description {
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  min-width: 642px;
}
.gc-uk-home-image-bannerpng-icon {
  height: 400px;
  flex: 1;
  position: relative;
  border-radius: 16px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 633px;
}
.info {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 80px 120px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 48px;
  color: #0f0a1b;
  font-family: Inter;
}
@media screen and (max-width: 1525px) {
  .description {
    flex: 1;
  }
  .info {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .description,
  .gc-uk-home-image-bannerpng-icon {
    min-width: 100%;
  }
  .info {
    gap: 32px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .find-the-widest-container {
    font-size: 38px;
    line-height: 42px;
  }
  .description,
  .info {
    gap: 16px;
  }
  .info {
    padding: 52px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .find-the-widest-container {
    font-size: 29px;
    line-height: 32px;
  }
  .actions1 {
    flex-wrap: wrap;
    gap: 24px;
  }
}
