.customer-reviews-hear {
  margin: 0;
  width: 737px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.testimonials {
  width: 1686px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
  font-size: 24px;
}
.reviews,
.reviews-1920x {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.reviews-1920x {
  flex: 1;
  background-color: #f6f7f9;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  gap: 24px;
  z-index: 1;
}
.reviews {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 80px;
  text-align: center;
  font-size: 48px;
  color: #262626;
  font-family: Inter;
}
@media screen and (max-width: 850px) {
  .customer-reviews-hear {
    font-size: 38px;
    line-height: 42px;
  }
  .reviews-1920x {
    padding-top: 52px;
  }
  .reviews,
  .reviews-1920x {
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .customer-reviews-hear {
    font-size: 29px;
    line-height: 32px;
  }
  .reviews {
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
