.avatars-icon {
  width: 96px;
  height: 96px;
  position: relative;
  border-radius: 50%;
  object-fit: contain;
}
.michael-l,
.new-york-usa {
  align-self: stretch;
  position: relative;
}
.michael-l {
  margin: 0;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
}
.new-york-usa {
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 150%;
  text-transform: uppercase;
}
.customer-info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.h1,
.reliable-and-convenient {
  align-self: stretch;
  position: relative;
}
.h1 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.reliable-and-convenient {
  height: 88px;
  font-size: 16px;
  letter-spacing: -0.03px;
  line-height: 135%;
  font-family: Inter;
  display: inline-block;
}
.quotes,
.testimonial-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.quotes {
  align-self: stretch;
  gap: 12px;
  font-size: 32px;
  font-family: "Oleo Script";
}
.testimonial-containers {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: #fff;
  padding: 36px;
  box-sizing: border-box;
  gap: 24px;
  min-width: 299px;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  color: #262626;
  font-family: Inter;
}
@media screen and (max-width: 850px) {
  .h1 {
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 450px) {
  .h1,
  .michael-l {
    font-size: 19px;
    line-height: 23px;
  }
  .testimonial-containers {
    padding-top: 23px;
    padding-bottom: 23px;
    box-sizing: border-box;
  }
}
